# Игнорируем системные файлы macOS
.DS_Store

# Игнорируем временные файлы редакторов
*.log
*.swp

# Игнорируем файлы сборки
/build/
*.o
*.out

# Игнорируем пользовательские настройки среды разработки
.vscode/
.idea/